<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img class="pokemon-logo"
         src="https://img.leboncoin.fr/api/v1/lbcpb1/images/0a/40/0b/0a400be1-24ae-4369-81f5-a76dd8c1d24d?rule=bo-thumb">
    <span class="menu-spacer"></span>
    <div>
      <a mat-button href="#" [routerLink]="'/'">liste cars</a>
      <a mat-button href="#" [routerLink]="'/create'">créer cars</a>
      <!--      <a mat-button href="#" [routerLink]="'/create-pokemon'">Ajouter Pokemon</a>-->
      <!--      <a mat-button href="#" [routerLink]="'/home'">home</a>-->
      <!--      <a mat-button *ngIf="showAdminBoard" href="#" [routerLink]="'/admin'">Admin Board</a>-->
      <!--      <a mat-button *ngIf="showModeratorBoard" href="#" [routerLink]="'/mod'">Moderator Board</a>-->
      <!--      <a mat-button *ngIf="isLoggedIn" href="#" [routerLink]="'/user'">User</a>-->
      <!--    </div>-->
      <!--    <div *ngIf="!isLoggedIn">-->
      <!--      <a mat-button  href="#" [routerLink]="'/register'">register</a>-->
      <!--      <a mat-button  href="#" [routerLink]="'/login'">Login</a>-->
      <!--    </div>-->
      <!--    <div *ngIf="isLoggedIn">-->
      <!--      <a mat-button  href="#" [routerLink]="'/profile'">{{ username }}</a>-->
      <!--      <a mat-button  href="#"  (click)="logout()">LogOut</a>-->
    </div>
  </mat-toolbar-row>
</mat-toolbar>
